body {
  background-color: black;
}

* {
  font-family: "Archivo Narrow", sans-serif;
}
.small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.normal-text {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
.medium-text {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.large-text {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
}
.navbar-height {
  height: 100px;
}
.title-Navbar-link {
  letter-spacing: 0px;
}
.svg-margin {
  margin-left: 20px;
}
.sneakers-category-bg {
  background: url(/assets/sneakers.png);
}
.brand-category-bg {
  background: url(/assets/brand.png);
}

.header-bg {
  background: url(/assets/DSC01345\ 5.png);
}
.main-img-container {
  height: 1017px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.decollete-category-container {
  height: 1030px;
  background: url(/assets/decollette.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-right: 1.5px solid white;
  background-position: bottom;
}
.sandals-category-container {
  height: 1030px;
  background: url(/assets/sandals.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-left: 1.5px solid white;
  background-position: bottom;
}
.custom-borderY {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
